<!---->
<launch>

		<node pkg="urgwc_node" type="urgwc_node" name="horizontal" output="screen">
			<param name="ip_address" value="192.168.0.15" />
			<param name="ip_port" value="10940" />
			<param name="frameID" value="laser" />
			<param name="publish_multiecho" value="false" />

			<param name="x" value="0.0"/>
			<param name="y" value="0.0"/>
			<param name="z" value="0.3"/>
			<param name="yaw" value="0.0"/>
			<param name="pitch" value="0.3"/>
			<param name="roll" value="0.3"/>
			<!-- <remap from="/horizontal_laser/scan" to="horizontal_laser" /> -->
		</node>

</launch>
